body{
font-family:Arial;
margin:0;
background:#f5f5f5;
}

header{
background:#111;
color:white;
padding:20px;
display:flex;
justify-content:space-between;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
text-align:center;
padding:100px;
}

.btn{
background:#007bff;
color:white;
padding:10px 20px;
text-decoration:none;
border-radius:5px;
}

form{
max-width:400px;
margin:auto;
display:flex;
flex-direction:column;
}

input,select{
margin:10px 0;
padding:10px;
}

button{
background:#007bff;
color:white;
padding:10px;
border:none;
}
