<!DOCTYPE html>
<html>

<head>

<title>Post Job</title>

<script src="/static/js/jobs.js"></script>

</head>

<body>

<h2>Post Job</h2>

<input id="job_name" placeholder="Job Name">

<input id="location" placeholder="Location">

<input id="description" placeholder="Description">

<input id="qualification" placeholder="Qualification">

<input id="experience" placeholder="Experience">

<input id="workers_needed" placeholder="Workers Needed">

<input id="salary" placeholder="Salary">

<input id="company" placeholder="Company">

<button onclick="postJob()">Post Job</button>

</body>

</html>
